PORT=3001
FRONTEND_URL=http://localhost:5173
GITHUB_CLIENT_ID=your_github_oauth_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_secret
REQUIRE_API_KEY=false
API_KEY=change_this_random_key
ALLOWED_DOMAINS=*
MAX_CONCURRENT_SCANS=3
WHATWEB_PATH=whatweb
NMAP_PATH=nmap
NUCLEI_PATH=nuclei
